---
// File: post/[...slug].astro
import "@/styles/globals.css";
import Header01 from "@/layouts/Header01.astro";
import SingleSection from "@/components/custom/SingleSection";
import Footer01 from "@/layouts/Footer01.astro";
// import toaster
import { Toaster } from "@/components/ui/toaster";
import { AstroSeo } from "@astrolib/seo";
import { createUniqueSlug } from "@/lib/utils";
import { ViewTransitions } from "astro:transitions";

export async function getStaticPaths() {
  const urlEndpoint = import.meta.env.PUBLIC_FASTAPI_ENDPOINT;

  try {
    const response = await fetch(`${urlEndpoint}/properties`);

    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }

    const data = await response.json();

    return data.items.map((property: { id: number; title: string }) => {
      const slug = createUniqueSlug(property.id, property.title); // Gunakan fungsi createUniqueSlug

      return {
        params: { slug }, // Ubah 'slug' menjadi slug yang sudah dibuat
        props: { property },
      };
    });
  } catch (error) {
    console.error("Error fetching properties:", error);
    return [];
  }
}
interface Property {
  user_id: number;
  category_id: number;
  title: string;
  short_desc: string;
  description: string;
  price: number;
  period: string;
  address: string;
  province_id: string;
  district_id: string;
  city_id: string;
  village_id: string;
  coordinates: string;
  nearby: string;
  ads: string;
  status: string;
  views_count: number;
  meta_title: string | null;
  meta_description: string | null;
  keywords: string;
  id: number;
  created_at: string;
  updated_at: string;
  facility: {
    certificate: string;
    electricity: number;
    line_phone: string;
    internet: string;
    road_width: string;
    water_source: string;
    hook: string | null;
    condition: string | null;
    security: string | null;
    wastafel: string | null;
    id: number;
  };
  specification: {
    land_size: number | null;
    building_size: number;
    bedroom: number;
    carport: string | null;
    bathroom: number;
    dining_room: string | null;
    living_room: string | null;
    floors: number;
    id: number;
  };
  images: {
    image_url: string;
    remote_image_url: string;
    is_primary: boolean;
    id: number;
  }[];
  province: {
    code: string;
    name: string;
    level: string;
  };
  district: {
    code: string;
    name: string;
    level: string;
  };
  city: {
    code: string;
    name: string;
    level: string;
  };
  village: {
    code: string;
    name: string;
    level: string;
  };
  user: {
    name: string;
    email: string;
    password: string;
    role: string;
    is_active: boolean;
    id: number;
    created_at: string;
    updated_at: string;
    profile: {
      first_name: string;
      last_name: string;
      phone: string;
      email: string;
      whatsapp: string;
      company_name: string;
      avatar: string;
      remote_url: string;
      biodata_company: string;
      jobdesk: string;
    };
  };
}
const { property } = Astro.props as { property: Property };
const uniqueSlug = createUniqueSlug(property.id, property.title);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{property.title}</title>

    <AstroSeo
      title={property.title}
      description={property.short_desc || "Deskripsi properti tidak tersedia"}
      canonical={`${import.meta.env.PUBLIC_HOME_DOMAIN}/post/${uniqueSlug}`}
      openGraph={{
        url: `${import.meta.env.PUBLIC_HOME_DOMAIN}/post/${uniqueSlug}`,
        title: property.title,
        description: property.short_desc || "Deskripsi properti tidak tersedia",
        images:
          property.images && property.images.length > 0
            ? [
                {
                  url: `${import.meta.env.PUBLIC_HOME_DOMAIN}/storage/${property.images[0].image_url.replace(/[",/\\]/g, "")}`,
                  width: 800,
                  height: 600,
                  alt: `Gambar ${property.title}`,
                  type: "image/jpeg",
                },
              ]
            : [],
        site_name: "Bosque Properti",
      }}
      twitter={{
        handle: "@bosqproperti",
        site: "@bosqproperti",
        cardType: "summary_large_image",
      }}
    />
  </head>
  <body
    class="min-h-screen transition-colors duration-300 bg-gradient-to-br from-blue-100 via-violet-100 to-indigo-300 dark:from-gray-900 dark:via-purple-900 dark:to-gray-950"
  >
    <Header01 />
    <SingleSection property={property} client:load />

    <!-- <RegisterForm client:load />-->
    <Toaster client:load />
    <Footer01 />
    <slot />
  </body>
</html>
<!-- <style is:global> -->
